.idea/
venv/
get-pip.py
CharacterClass/__pycache__/Character.cpython-39.pyc
GUI/CharacterClass/__pycache__/__init__.cpython-39.pyc
GUI/CharacterClass/__pycache__/Character.cpython-39.pyc
.vscode/settings.json
.vscode/settings.json
GUI/CharacterClass/__pycache__/Character.cpython-38.pyc
GUI/CharacterClass/__pycache__/__init__.cpython-38.pyc
.vscode/settings.json
